extends layout.pug

block content
  header
  .navbar
   .navbar-inner
    .container-fluid(ng-controller='LogoutController')
     ul.nav.nav-tabs(ng-if="!isAuthenticated()")
      li(data-access-level='accessLevels.anon', active-nav)
       a(href='/login') Log in
      li(data-access-level='accessLevels.anon', active-nav)
       a(href='/register') Register
     ul.nav.nav-tabs(ng-if="isAuthenticated()")
       button.btn.btn-default(ng-click="logout()") Log out
       a(ui-sref='user.home({name:"Miguel"})') Dashboard #name


  div(ng-controller='IndexController')
   h1 Bienvenido a GeoData
   p aqui estamos testeando

  div(ng-bind="estado")
  div(ng-if="isAuthenticated()")
  div(ui-view)
