extends layout

block content
  div(ng-controller='IndexController')
  h1 Bienvenido a GeoData
  p aqui estamos testeando
  if(!user)
    a(href='/login') Login
    br
    a(href='/register') Register
  p
  a(ui-sref='user.home') Dashboard
