doctype html
html(ng-app='passportLocal')
  head
    title= title
    base(href='/')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(href='stylesheets/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='stylesheets/toaster.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')

    // This is needed because Facebook login redirects add #_=_ at the end of the URL
        script(type="text/javascript").
            if (window.location.href.indexOf('#_=_') > 0) {
                window.location = window.location.href.replace(/#.*/, '');
            }
    
  body(ng-controller='mainController')

  block content

  script(src='javascripts/Angular/libs/jquery.js')
  script(src='javascripts/Angular/libs/bootstrap.min.js')
  script(src='javascripts/Angular/libs/angular.min.js')  
  script(src='javascripts/Angular/libs/angular-animate/angular-animate.min.js')  
  script(src='javascripts/Angular/libs/angular-ui-router/release/angular-ui-router.min.js')  
  script(src='javascripts/Angular/libs/AngularJS-Toaster/toaster.min.js')  
  script(src='javascripts/Angular/libs/angular-route.js')
  script(src='javascripts/Angular/libs/satellizer.js')
  script(src='javascripts/Angular/libs/angular-storage.js')
  script(src='javascripts/Angular/core.js')
  script(src='javascripts/Angular/routingConfig.js')
  script(src='javascripts/Angular/config.js')
  script(src='javascripts/Angular/controllers/HomeController.js')
  script(src='javascripts/Angular/controllers/IndexController.js')
  script(src='javascripts/Angular/controllers/RegisterController.js')
  script(src='javascripts/Angular/controllers/LoginController.js')
  script(src='javascripts/Angular/controllers/LogoutController.js')
  script(src='javascripts/Angular/servicio.js')
  script(src='javascripts/Angular/authorization.js')


